.display {
  margin-top: 2em;
  > .title {
    text-align: center;
    margin-bottom: 1em;
  }

  .percentage {
    text-align: center;
    margin-bottom: 1em;
    span {
      color: blue;
    }
  }
}

.lists-wrapper {
  display: flex;

  gap: 1em;

  > div {
    flex: 1;
    min-width: 350px;
    .title {
      text-align: center;
    }

    border: 1px solid blue;
    border-radius: 0.4em;
    padding: 0.6em;
  }

  max-width: 1000px;
  margin: auto;

  .todoo-items {
    display: grid;
    gap: 1em;
  }
}

.tabs-wrapper {
  display: none;
}
@media screen and (max-width: 770px) {
  .tabs-wrapper {
    display: flex;
    margin-bottom: 1em;

    button {
      flex: 1;
      padding: 1em;
      border: 0;
      background-color: rgb(206, 206, 224);
      border: 1px solid white;

      &.active {
        background-color: blue;
      }
    }
  }
  .lists-wrapper > div {
    display: none;

    &.show {
      display: block;
    }
  }
}
